<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Todo App</title>
</head>
<body style="background-color: rgb(186, 236, 105)">
    <div style = "margin-top: 20px;" class = "container" >
        <h3>Hi {{ message}}, here is your main list of your tasks</h3>
        <hr>

        <form action="/addlist" method = "post">
            <div class="form-group">
                    <label for="formGroupExampleInput">Enter text and click Add to add new list of tasks</label>
                    <input type="text" class="form-control" name = "lname" id="formGroupExampleInput" placeholder="Your list name here"><br>
                    <button type = "submit" class="btn btn-danger">Add </button>
            </div>

            <h4><a href="/logout">Click to logout</a></h4>
            <hr>
        </form>
        {% if lists == () %}
        <div class="alert alert-warning" role="alert">
                You don't have any list yet.
        </div>
        {% else %}
        <table class="table">
                <tbody>
                  {% for list in lists %}
                  <tr>
                        <th scope="row"><a href="/tasks?list={{ list[1] }}"> {{ list[1] }} </a></th>                        
                        <!-- <td><a href="/complete/{{ list[0] }}" class ="btn btn-danger">Update</a></td> -->
                        <td><a href="/dellist/{{ list[0] }}" class ="btn btn-danger">Delete</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        {% endif %}     
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>